@{
    ViewBag.Title = "ค้นหาหนังสือสัญญา";
    ViewBag.MainMenu = "ระบบจัดการข้อมูลลูกค้า";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";

}

<div class="row bg-title">
    <!-- .page title -->
    <div class="col-md-5">
        <ol class="breadcrumb pull-left">
            <li><a href="#">@ViewBag.MainMenu</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
    @*<a href="javascript:history.back();" class="btn btn-default pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light"><i class="fa fa-mail-reply"></i> ย้อนกลับ</a>*@

</div>
<div class="row">
    <div class="col-lg-12 ">

        <div class="white-box">
         
            <h3 class="m-b-0 m-t-0"> <i class="fa fa-search"></i> @ViewBag.Title</h3> <small class="text-muted db"></small>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            <div id="customerName"></div>
                            <div id="customerAddress"></div>
                        </address>
                    </div>
                    <div class="pull-right text-right">

                    </div>
                </div>
            </div>
            <div id="loadIndicator"></div>
            <div class="demo-container">
                <div id="gridContainer"></div>
            </div>

            <br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(function () {

            $("#loadIndicator").dxLoadIndicator({
                visible: true
            });
            
            init();
         

        });

        function init() {

            var data = []


            $.get("../Contract/GetListContract?CustomerID=0")
                .done(function (result) {

                    $("#loadIndicator").dxLoadIndicator({
                        visible: false
                    });

                    result.data.forEach(function (element) {

                        element.ContractExpDate_Text = formatDate(new Date(element.ContractExpDate_Text));
                        element.ContractCreateDate_Text = formatDate(new Date(element.ContractCreateDate_Text));
                        element.ContractStartDate_Text = formatDate(new Date(element.ContractStartDate_Text));
                        data.push(element);

                    });
                    LodeDataGrid();
                    $('#gridContainer').dxDataGrid('instance').option('dataSource', data);

                });
        }
        function LodeDataGrid() {

            $("#gridContainer").dxDataGrid({
                //     dataSource: data,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,

                //editing: {
                //allowUpdating:true},
                searchPanel: {
                    visible: true,
                    width: 300,
                    placeholder: "ค้นหา..."
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                export: {
                    enabled: true,
                    fileName: "File",
                },

                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                height: 500,
                columnFixing: {
                    enabled: true
                },
                columns: [{
                    dataField: "ContractNumber",
                    caption: "เลขที่สัญญา",
                    width: 200 + "%",
                    alignment: 'left',
                },
                {
                    dataField: "ContractCustomerName",
                    caption: "ชื่อ-นามสกุล ลูกค้า",
                    width: 300 + "%",
                    alignment: 'left',
                },
                {
                    dataField: "ContractCreateDate_Text",
                    caption: "วันที่ทำสัญญา",
                    width: 240 + "%",
                    alignment: 'center',
                },
                {
                    dataField: "ContractExpDate_Text",
                    caption: "วันที่หมดสัญญา",
                    width: 240 + "%",
                    alignment: 'center',
                },

                {
                    dataField: "ContractPayment",
                    caption: "มูลค่าสินค้า",
                    width: 240 + "%",
                    alignment: 'right',
                    customizeText: function (options) {
                        if (options.value !== 0) {
                            return options.value.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")

                        }
                    }
                },
                {
                    dataField: "ContractStatus",
                    caption: "สถานนะ เปิด/ปิด บัญชี ",
                    alignment: 'center',
                    cellTemplate: function (container, options) {
                      
                        if (options.key.ContractStatus == 0) {

                            $("<div>")
                                .append("<span class='badge badge-danger'> ปิดใช้งานบัญชี </span>")
                                .appendTo(container);
                        }
                        if (options.key.ContractStatus == 1) {

                            $("<div>")
                                .append("<span class='badge badge-success'>  เปิดใช้งานบัญชี </span>")
                                .appendTo(container);
                        }
                    }
                },
                {
                    dataField: "Deleted",
                    caption: "สถานะสัญญา",
                    alignment: 'center',
                    cellTemplate: function (container, options) {
                      
                        if (options.key.Deleted == 0) {

                            $("<div>")
                                .append("<span class='badge badge-success'> ใช้งาน </span>")
                                .appendTo(container);
                        }
                        if (options.key.Deleted == 1) {

                            $("<div>")
                                .append("<span class='badge badge-danger'> ยกเลิกสัญญา </span>")
                                .appendTo(container);
                        }
                    }
                },

                {
                    dataField: "ContractID",
                    caption: "",
                    alignment: 'center',
                    width: 50,
                    allowFiltering: false,
                    fixed: true,
                    fixedPosition: 'right',
                    cellTemplate: function (container, options) {
                        
                        $("<div>")
                            .append("<a href='\Contract?CustomerID=" + options.data.ContractCustomerID + "&ContractID=" + options.key.ContractID + "' title='ข้อมุลสัญญา' class='btn btn-info btn-circle btn-sm' ><i class='fa fa-book'></i></a>")
                            .appendTo(container);
                    }

                },
                {
                    dataField: "ContractID",
                    caption: "",
                    alignment: 'center',
                    width: 50,
                    allowFiltering: false,
                    fixed: true,
                    fixedPosition: 'right',
                    cellTemplate: function (container, options) {
                       
                        var contractobj = options.data;
                        console.log(contractobj)
                        $("<div>")
                            .append("<a  title='ยกเลิกสัญญา 'onclick='DeteteContract(" + contractobj.ContractID + ")' class='btn btn-danger btn-circle btn-sm' ><i class='fa fa-close'></i></a>")
                            .appendTo(container);
                    }

                },

                ]

            });
        }



        function NewContract() {
            window.location = "\Contract?CustomerID=" + getUrlParameter('CustomerID') + "&ContractID=0";

        }

        function DeteteContract(id) {
            swal({
                title: "",
                text: "ต้องการยกเลิกสัญญานี้หรือไม่ ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'ตกลง',
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {

                    if (isConfirm) {


                        Detete(id)


                    } else {
                        swal.close();
                        //    e.preventDefault();
                    }
                });
        }
        function Detete(id) {
            $.ajax({
                url: '../Contract/ActivatedContract?ContractID=' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    if (data.success) {

                        swal("สำเร็จ !", "ยกเลิกสัญญาสำเร็จ !!", "success");
                    }

                    // เรียก data grid 
                    init();

                },
                error: function () {
                    console.log("error");
                }
            });


        }
    </script>
}
