@{
    ViewBag.Title = "ตั้งค่ารหัสผ่าน Mobile";
    ViewBag.MainMenu = "ระบบจัดการข้อมูลพนักงาน";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
<div class="row bg-title">
    <!-- .page title -->
    <div class="col-md-5">
        <ol class="breadcrumb pull-left">
            <li><a href="#">@ViewBag.MainMenu</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
    <!-- /.page title -->
</div>



<div class="row">

    <div class="col-lg-12 ">

        <div class="white-box">

            @*<a onclick="Show_PopupAdd()" class="btn btn-info pull-right"><i class="fa fa-plus"></i> สร้างรหัสผ่าน</a>*@
            <h3 class="m-b-0 m-t-0"> <i class="fa fa-list-alt"></i> @ViewBag.Title</h3> <small class="text-muted db"></small>
            <hr>

            <div id="gridList" style="vertical-align: middle;"></div>
            <br>

            <div class="row">
                <a onclick="AddPassword()" class="btn btn-info "><i class="fa fa-plus"></i> สร้างรหัสผ่านเข้าสู่ระบบ</a>
                <a onclick="DeletePassword()" class="btn btn-danger "><i class="fa fa-close"></i> ลบรหัสผ่านเข้าสู่ระบบ</a>
                <br><br><br>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("../Scripts/src/liststaffpassword.js")

}
