@{
    ViewBag.Title = "รายงานการให้ส่วนลด";
    ViewBag.MainMenu = "รายงาน";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<div class="row bg-title">
    <!-- .page title -->
    <div class="col-md-5">
        <ol class="breadcrumb pull-left">
            <li><a href="#">@ViewBag.MainMenu</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
    <!-- /.page title -->
    <!-- <a href="javascript:history.back();" class="btn btn-default pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light"><i class="fa fa-mail-reply"></i> ย้อนกลับ</a> -->
</div>

<div class="row">
    <div class="col-lg-12 ">

        <div class="white-box">

            <h3 class="m-b-0 m-t-0"> <i class="fa fa-line-chart"></i> @ViewBag.Title</h3> <small class="text-muted db"></small>
            <hr>
            
            <div id="form"></div><br>
            <div class="row">
                <div class="col-md-2 "> </div>
                    <button type="button" class="btn btn-info waves-effect waves-light m-r-10" id="btnSearch" onclick="SearchData()">  ค้นหา </button>
                <button type="button" class="btn btn-default waves-effect waves-light m-r-10" id="btnClear" onclick="ClearData()">  ล้างข้อมูล </button>
                </div>
            <div id="toast"></div>
            <div id="loadIndicator"></div>
            <div class="demo-container" id="gridshow">
                <div id="gridContainer"></div>
            </div>
            <br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>


@section Scripts {

    <!-- Date Picker Plugin JavaScript -->
    @Scripts.Render("../Scripts/src/report_discount.js")

}